{% extends "base.html" %}

{% block title %} password reset {% endblock %}

{% block main %}
    <h1>password reset</h1>

    <form method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="reset password"  class="btn-book-table">
    </form>

    <script>
        const inputs = document.getElementsByTagName("input")
        Array.from(inputs).forEach(input=>{
            if (input.type  != "submit" ){
                input.className = "form-control"
                input.style.color = "var(--heading-color)"
            }
        })
    </script>
    <style>
        main{
            width: 80%;
            justify-self: center;
            margin: 100px 60px;
        }
        .btn-book-table{
        background: var(--accent-color);
        color: var(--contrast-color);
        border: 0;
        padding: 14px 38px;
        font-weight: 600;
        font-size: 0.95rem;
        border-radius: 4px;
        transition: all 0.3s 
    ease;
        margin-top: 1rem;
        }
    </style>

{% endblock %}